@model IEnumerable<ScamAlert.Models.User>

@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Account</h2>

<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userId }) 
        </td>
    </tr>
}

</table>
