@model IEnumerable<ScamAlert.Models.Scam>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scam Alert</h1>
    <p class="lead">Scam artists and malicious people are all over the internet, but you can now you can learn how they are attempting to get your information.</p>
</div>

<table class="table">
    <tr>
        <th>
            Scam Name
        </th>
        <th>
            Description
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.scamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>

        </tr>
    }
</table>