@model IEnumerable<ScamAlert.Models.Scam>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scam Alert</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<table class="table">
    <tr>
        <th>
            Scam Name
        </th>
        <th>
            Description
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.scamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
        </tr>
    }
</table>